body {
	padding-top: 50px;
	padding-bottom: 30px;
}

#download {
	display: none;
}

#pw-progress {
	margin-top: 5px;
	margin-bottom: 1px;
	height: 20px;
	display: none;
}

#pw-container .form-control-feedback,
#pw-again-container .form-control-feedback {
	display: none;
}

.form-control-feedback.glyphicon-exclamation-sign {
	color: #d9534f;
}

.form-control-feedback.glyphicon-warning-sign {
  color: #f0ad4e;
}

.progress-bar {
	text-align: left;
}

.password-verdict {
	font-style: oblique;
	font-size: x-small;
	padding-left: 4px;
}

.has-feedback .form-control-feedback {
	position: absolute;
	top: 0;
	right: 15px;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
}

.button-bar {
	text-align: right;
	margin-bottom: 5px;
}

.theme-dropdown .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 20px;
}

.theme-showcase>p>.btn {
	margin: 5px 0;
}

.app-callout {
	margin: 20px 0;
	padding: 10px;
	border-left: 3px solid #eee;
}

.app-callout-danger {
	background-color: #fdf7f7;
	border-color: #d9534f;
}

.app-callout-danger h4 {
	color: #d9534f;
	margin-top: 0;
}

.app-callout-warning {
	background-color: #fcf8f2;
	border-color: #f0ad4e;
}

.app-callout-warning h4 {
	color: #f0ad4e;
	margin-top: 0;
}